<div class="main-container">
    <div class="header-style">
        <labled-icon-button (onClick)="downloadJson()" lable="Download JSON" color="#ffffff" backgroundColor="#179D5B"
            iconSrc="assets/icons/downloadicon.svg" style="margin: 0px 10px;float: right;"></labled-icon-button>
    </div>
    <div class="main-wrapper">
        <div class="editor-left-sidebar shown">
            <div class="vertical-tab-button-container">
                <button class="tab-button tablinks active">
                    <img src="./assets/icons/heading-white.svg" class="tab-icon" />
                    <p class="tab-title">Properties</p>
                </button>
            </div>
            <div class="left-wrapper">
                <div class="inner-left-wrapper">
                    <div class="property-panel">
                        <div class="property-panel-wrapper">
                            <div class="property-panel-content" *ngIf="selected">

                                <div class="single-control-container">
                                    <span class="single-control-lable">Change All Icon Colors : </span>
                                    <div style="display: flex;">
                                        <div class="color-picker-button" style="margin: 0px 5px;"
                                            [cpOutputFormat]="'hex'"
                                            [cpPosition]="'left-bottom'"
                                            (cpSliderDragEnd)="setButtonIconFillForAll()"
                                            (cpInputChange)="setButtonIconFillForAll()"
                                            [(colorPicker)]="props.buttonIconColor" [style.background]="props.buttonIconColor"></div>
                                    </div>
                                </div>
                                
                                <!-- Button Size Properties (Size) -->
                                <div class="single-control-container">
                                    <span class="single-control-lable">Width : </span>
                                    <input type="number" class="text-size-value-container" [(ngModel)]="props.width"
                                        (change)="setButtonSize({width: props.width, height: props.height})" />
                                </div>
                                <div class="single-control-container">
                                    <span class="single-control-lable">Height : </span>
                                    <input type="number" class="text-size-value-container" [(ngModel)]="props.height"
                                        (change)="setButtonSize({width: props.width, height: props.height})" />
                                </div>


                                <!-- Button Properties -->
                                <div class="shadow-container">
                                    <span class="group-title">Color Properties</span>
                                    <div class="button-bg-color-tab-cotnainer">
                                        <Button class="background-tabs-links tab-button-btn-background"
                                            [ngClass]="{'active': activeButtonBackgroundTab == 'tab_1'}"
                                            (click)="openButtonBackgroundTab('tab_1')">Solid</Button>
                                        <Button class="background-tabs-links tab-button-btn-background"
                                            [ngClass]="{'active': activeButtonBackgroundTab == 'tab_2'}"
                                            (click)="openButtonBackgroundTab('tab_2')">Gradient</Button>
                                    </div>
                                    <div class="single-control-container" *ngIf="activeButtonBackgroundTab == 'tab_1'">
                                        <span class="single-control-lable">Background Color : </span>
                                        <div style="display: flex;">
                                            <span class="color-value-display"
                                                (click)="copyValue(props.buttonFill)">{{props.buttonFill}}</span>
                                            <div class="color-picker-button" [cpOutputFormat]="'rgba'"
                                                [cpPosition]="'left-bottom'"
                                                (cpSliderDragEnd)="setButtonFill(props.buttonFill)"
                                                (cpInputChange)="setButtonFill(props.buttonFill)"
                                                [(colorPicker)]="props.buttonFill"
                                                [style.background]="props.buttonFill">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-control-container no-margin" *ngIf="activeButtonBackgroundTab == 'tab_2'">
                                        <div class="color-picker-button" [cpOutputFormat]="'hex'"
                                            [cpPosition]="'right-bottom'"
                                            (cpSliderChange)="changeGradientIndexColor(props.activeGradientColorIndex, props.activeGradientColor)"
                                            (cpInputChange)="changeGradientIndexColor(props.activeGradientColorIndex, props.activeGradientColor)"
                                            [(colorPicker)]="props.activeGradientColor"
                                            [style.background]="props.activeGradientColor"></div>
                                        <div>
                                            <button class="gradient-type-btn"
                                                [ngClass]="{'active': props.gradientType == 'linear'}"
                                                (click)="props.gradientType = 'linear'; setButtonGradient(props.buttonGradientArray)">
                                                <div class="linear-gradient gradient-icon"></div>
                                            </button>
                                            <button class="gradient-type-btn"
                                                [ngClass]="{'active': props.gradientType == 'radial'}"
                                                (click)="props.gradientType = 'radial'; setButtonGradient(props.buttonGradientArray)">
                                                <div class="radial-gradient gradient-icon"></div>
                                            </button>
                                            <div class="is-center-checkbox-container"
                                                *ngIf="props.gradientType == 'radial'">
                                                <input type="checkbox" [(ngModel)]="props.gradientPositionIsCenter"
                                                    id="isCenterGradient" name="isCenterGradient"
                                                    class="is-center-checkbox"
                                                    (change)="setButtonGradient(props.buttonGradientArray)">
                                                <label for="isCenterGradient" class="center-gradient-chckbox">
                                                    Center</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-control-container" *ngIf="activeButtonBackgroundTab == 'tab_2'">
                                        <div class="gradient-control-container">
                                            <gradient-picker #button class="gradient-color-control"
                                                [containerClass]="'gradient-picker-class'"
                                                (onPickerChange)="setButtonGradient($event)"
                                                (onColorSliding)="setButtonGradient($event)"
                                                (onColorControlActivate)="setActiveColor($event)"
                                                [colorArray]="props.buttonGradientArray" [minColorStop]="0"
                                                [maxColorStop]="1" [maximumColors]="5" [type]="'button'">
                                            </gradient-picker>
                                            <circular-angle-control
                                                *ngIf="props.gradientType != 'radial' || props.gradientPositionIsCenter != true"
                                                [radius]="25" [angle]="props.buttonGradientAngle"
                                                (onAngleChange)="props.buttonGradientAngle = $event; setButtonGradient(props.buttonGradientArray)">
                                            </circular-angle-control>
                                        </div>
                                    </div>
                                </div>

                                <div class="shadow-container">
                                    <span class="group-title">Button Properties</span>
                                    <div class="single-control-container">
                                        <span class="single-control-lable">Border Color : </span>
                                        <div style="display: flex;">
                                            <span class="color-value-display"
                                                (click)="copyValue(props.buttonStrokeColor)">{{props.buttonStrokeColor}}</span>
                                            <div class="color-picker-button" [cpOutputFormat]="'hex'"
                                                [cpPosition]="'left-top'"
                                                (cpSliderDragEnd)="setButtonStrokeColor(props.buttonStrokeColor)"
                                                (cpInputChange)="setButtonStrokeColor(props.buttonStrokeColor)"
                                                [(colorPicker)]="props.buttonStrokeColor"
                                                [style.background]="props.buttonStrokeColor"></div>
                                        </div>
                                    </div>
                                    <property-slider timeOut="0" lable="Button Opacity" min="0" max="1" step="0.1"
                                        [modal]="props.opacity"
                                        (onChange)="props.opacity = $event; setOpacity(props.opacity, true)"
                                        format="opacity">
                                    </property-slider>
                                    <property-slider timeOut="0" lable="Border Size" min="0" max="30" step="1"
                                        [modal]="props.buttonStrokeWidth"
                                        (onChange)="props.buttonStrokeWidth = $event; setButtonStrokeSize(props.buttonStrokeWidth)">
                                    </property-slider>
                                    <property-slider timeOut="0" lable="Corner Radius" min="0" max="100" step="1"
                                        [modal]="props.buttonRadius"
                                        (onChange)="props.buttonRadius = $event; setButtonRadius(props.buttonRadius)">
                                    </property-slider>
                                </div>

                                <!-- Text Properties (Shadow) -->
                                <div class="shadow-container">
                                    <span class="group-title">Shadow Properties</span>
                                    <div class="single-control-container">
                                        <span class="single-control-lable">Shadow Color : </span>
                                        <div style="display: flex;">
                                            <span class="color-value-display"
                                                (click)="copyValue(props.shadow.color)">{{props.shadow.color}}</span>
                                            <div class="color-picker-button" [cpOutputFormat]="'hex'"
                                                [cpPosition]="'left-top'" (cpSliderDragEnd)="setShadow(props.shadow)"
                                                (cpInputChange)="setShadow(props.shadow)"
                                                [(colorPicker)]="props.shadow.color"
                                                [style.background]="props.shadow.color"></div>
                                        </div>
                                    </div>
                                    <property-slider timeOut="0" lable="Shadow Blur" min="0" max="100" step="1"
                                        [modal]="props.shadow.blur"
                                        (onChange)="props.shadow.blur = $event; setShadow(props.shadow)">
                                    </property-slider>
                                    <property-slider timeOut="0" lable="Offset X" min="-100" max="100" step="1"
                                        [modal]="props.shadow.offsetX"
                                        (onChange)="props.shadow.offsetX = $event; setShadow(props.shadow)">
                                    </property-slider>
                                    <property-slider timeOut="0" lable="Offset Y" min="-100" max="100" step="1"
                                        [modal]="props.shadow.offsetY"
                                        (onChange)="props.shadow.offsetY = $event; setShadow(props.shadow)">
                                    </property-slider>
                                </div>

                                <!-- Icon Button Properties -->
                                <div class="shadow-container">
                                    <span class="group-title">Button Icon Properties</span>
                                    <div class="single-control-container">
                                        <span class="single-control-lable">Colors : </span>
                                        <div style="display: flex;">
                                            <div class="color-picker-button" style="margin: 0px 5px;"
                                                [cpOutputFormat]="'hex'" *ngFor="let color of props.buttonIconColors"
                                                [cpPosition]="'left-top'"
                                                (cpSliderChange)="setButtonIconFill(props.buttonIconColors)"
                                                (cpInputChange)="setButtonIconFill(props.buttonIconColors)"
                                                [(colorPicker)]="color.color" [style.background]="color.color"></div>
                                        </div>
                                    </div>
                                    <property-slider timeOut="0" lable="Icon Size" min="5" max="100" step="1"
                                        [modal]="props.buttonIconSize"
                                        (onChange)="props.buttonIconSize = $event; setButtonIconSize(props.buttonIconSize)">
                                    </property-slider>
                                </div>

                            </div>
                            <app-not-found *ngIf="!selected" title="No Object Selected" class="no-data-margin">
                            </app-not-found>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="editor-container">
            <div class="canvas-wrapper">
                <div id="canvas-container">
                    <span class="error">{{error}}</span>
                    <div class="canvas-item-container">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>